<footer>
  <div class="container">
    <div class="banner">
      <div class="left">SUPRIYO</div>
      <div class="right">
        <p>Asansol, West Bengal, India</p>
        <p>Open: 05:00 PM - 12:00 AM</p>
      </div>
    </div>
    <div class="banner">
      <div class="left">
        <p>Developed By Supriyo Ghosh</p>
      </div>
      <div class="right">
        <p>All Rights Reserved &copy; 2026 Supriyo Ghosh.</p>
      </div>
    </div>
  </div>
</footer>