<nav id="navbar">
  <div class="logo">
    <img src="/images/logo_noBg.png" alt="Supriyo's Logo" style="height: 50px; margin-right: 10px;" />
    SUPRIYO
  </div>
  <div class="navLinks" id="navLinks">
    <div class="links">
      <a href="#heroSection">HOME</a>
      <a href="#about">ABOUT US</a>
      <a href="#qualities">SERVICES</a>
      <a href="#menu">MENU</a>
      <a href="#team">TEAM</a>
      <a href="#reservation">RESERVATION</a>
    </div>
    <a href="#menu"><button class="menuBtn">OUR MENU</button></a>
  </div>
  <div class="hamburger" id="hamburger">
    ☰
  </div>
</nav>